@import "../../../variables.scss";

.thankYouPage {
  padding-top: 100px;
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  font-family: var(--raleway);
  height: 100%;

  .thanksIcon {
    background-color: $Home_Main_color;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  span {
    color: $Home_Main_color;
  }

  button {
    @include btnAdmin2(20px);
    font-size: 16px;
    transition: 0.3s transform ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}
